.boxleft-container {
  width: 738px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
}
.boxleft-sub1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxleft-content {
  display: flex;
  gap: 5px;
}
.items-list {
  list-style: none;
  display: flex;
  gap: 10px;
}
